/* @group tags */

body {
	font-size: 16px;
}

h1 {
	margin-bottom: 30px;
	margin-top: 0px;
	font-size: 24px;
}

h1 small {
	margin-left: 10px;
	font-size: 14px;
}

.sh1 {
	font-size: 14px;	
	font-weight: 400;
	line-height: 1;
	color: #777;
	margin-top: -27px;
	margin-bottom: 27px;
}

.tagline_h1 {
	margin-top: -30px;
	color: gray;
}

h2 {
	margin-top: 30px;
}

h3 {
	font-size: 20px;
	margin-bottom: 5px;
}

h3.first {
	margin-top: 0px;	
}



pre.wrap {
	white-space: pre-wrap;
}

em.dateRelative {
	color: gray;
}

a {
	text-decoration: underline;
}

a.btn {
	text-decoration: none;
}

.panel-title a {
	text-decoration: none;
}

a.action {
	text-decoration: none;
}

/* @end */

/* @group forms */

form {
	margin-bottom: 20px;
}

fieldset {
	margin-top: 0px;
}

.radio, .checkbox {
	margin-bottom: 5px;
	margin-top: 0;	
}

.checkbox label {
	font-weight: normal;
	font-style: normal;
}



.data_text_box {
	list-style-type: none;
	background-color: #f5f5f5;
	padding: 2px 5px 3px 7px;
	border-radius: 6px;
	margin-right: 6px;
	margin-top: 0;
	margin-bottom: 0;
}

.active_filters {
	margin-bottom: 20px;
}

.active_filters h3 {
	margin-top: 0px;
	margin-bottom: 7px;
}
.active_filters span.label {
	margin-right: 3px;
}

.statistics {
	background-color: #f8f8f8;
	padding: 10px 10px 0;
	border-radius: 6px;
	border: 1px solid #e7e7e7;
	margin-bottom: 5px;
	overflow: visible;
	font-size: 14px;
}


.samples_stats {
	list-style-type: none;
	padding-top: 0;
	padding-bottom: 15px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;	
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	background-color: #f7f7f9;
	padding-left: 8px;
	margin-bottom: 10px;
}

.samples_filters {
	list-style-type: none;
	padding-top: 5px;
	padding-bottom: 5px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;	
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	background-color: #f7f7f9;
	padding-left: 8px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.filter_box {
	list-style-type: none;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 3px;
	margin-right: 3px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;	
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

form .error {
	color: #a94442;
	font-style: italic;
}

.button_container {
	text-align: right;
}

.filters .panel-title {
	font-size: 14px;
}

.filters {
	font-size: 14px;
}

.filters input[type=text], .filters select {
	height: 30px;
	padding: 5px 10px;
	font-size: 14px;
	line-height: 1.5;
	border-radius: 3px;
}

.filters .panel-heading {
    padding: 8px 10px;
}

.filters .panel-body {
	padding: 8px 10px 5px;
}

.filters label {
	margin-bottom: 0px;
}

.filters .form-group {
	margin-bottom: 10px;
}

.filters .panel-group .btn {
	padding: 5px 9px 6px 12px;
}

.filters .panel-group .button_container {
	text-align: right;
	margin-top: 15px;
	margin-bottom: 5px;
}

.filters .panel-group {
	margin-bottom: 5px;
}

/* @end */

/* @group tables */

table {
	font-size: 14px;
}

table.system_list > tbody > tr.selected > td {
	background-color: #fcf8e3;
}

table.system_list > tbody > tr.selected > td {
	font-weight: normal;
	font-style: normal;
}

table td .progress {
	margin-bottom: 0;
}

table.jobs .status {
	width: 80%;
}

table.sample_list td, table.sample_list th {
	white-space: nowrap;
}

table.much_data {
	border-collapse:separate;
	border-radius: 6px;
	border: 1px solid #e7e7e7;
	margin-right: 5px;
}

table.much_data thead th:first-child, table.much_data tbody td:first-child {
	padding-left: 10px;
}

table.much_data > tbody > tr > td,
table.much_data > tbody > tr > th,
table.much_data > tfoot > tr > td,
table.much_data > tfoot > tr > th,
table.much_data > thead > tr > td,
table.much_data > thead > tr > th {
    padding: 3px;
}

table.much_data > thead > tr > th {
	padding-top: 3px;
	border-bottom-width: 1px;
	padding-left: 5px;
}

.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
	border-bottom-style: none;
	border-left-style: none;
}

table.much_data > thead > tr > th.checkbox_cell {
	padding-top: 3px;
	padding-left: 5px;
	width: 34px;
}

table.much_data > tbody > tr > td.checkbox_cell {
	padding-right: 10px;
	width: 34px;
}

/* @end */

/* @group classes */

.intro {
	font-size: 18px;
	margin-bottom: 20px;
}

.filters {
	margin-top: 0px;
}

.minor {
	color: gray;
}

a.inactive {
   pointer-events: none;
   cursor: default;
}

.remove_filters {
	margin-left: 5px;
}

/* @end */

/* @group top navigation */

.navbar {
	min-height: 44px;
}

.navbar a {
	text-decoration: none;
}

.navbar-default .navbar-nav > li > a.navbar-brand {
	height: 42px;
	padding-top: 5px;
	padding-left: 5px;
}

a.navbar-brand img {
	display: inline-block;
	width: 32px;
	margin-right: 7px;
}

a.navbar-brand span {
	margin-top: 7px;
	float: right;
	display: block;
	font-size: 22px;
	color: #333;
}

.navbar-default .navbar-nav > li > a {
	padding-top: 13px;
	padding-bottom: 9px;
	font-size: 14px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    background-color: #e7e7e7;
}

.navbar-nav .search a,
.navbar-nav .samples a,
.navbar-nav .sequences a {
	padding-right: 0px;
	padding-left: 20px;
}

.navbar-nav .search > a {
	color: #898989;
}

.navbar-nav .samples a {
	padding-left: 53px;
	padding-right: 10px;
}

.navbar-nav .samples.active a, .navbar-nav .sequences.active a {
}

.navbar-nav .samples a.active,
.navbar-nav .sequences a.active {
	color: black;
	font-weight: bold;	
}

.navbar-nav .sequences a {
	padding-left: 53px;
	padding-right: 30px;
}

.navbar-nav .search > a::after,
.navbar-nav .samples a::after { 
  content: " "; 
  display: block; 
  width: 0; 
  height: 0;
  border-top: 22px solid transparent; 
  border-bottom: 22px solid transparent;
  border-left: 35px solid #e7e7e7;
  position: absolute;
  top: 100%;
  margin-top: -44px; 
  left: 100%;
  z-index: 2;
}

.navbar-nav .search > a::before,
.navbar-nav .samples a::before { 
  content: " "; 
  display: block; 
  width: 0; 
  height: 0;
  border-top: 22px solid transparent;       
  border-bottom: 22px solid transparent;
  border-left: 35px solid white;
  position: absolute;
  top: 100%;
  margin-top: -44px; 
  margin-left: 3px;
  left: 100%;
  z-index: 1; 
}


/* @end */

/* @group footer */

footer {
	position: relative;
	margin-top: 20px;
}

footer a {
	text-decoration: none;
	font-size: 12px;
	color: #777;
}

footer a:hover {
	text-decoration: underline;
}

.footer_container {
	background-color: #f8f8f8;
	margin-top: 0;
	padding-top: 10px;
	margin-bottom: 0;
	border-top: 1px solid #e7e7e7;
	padding-bottom: 0;
}

.credits {
	margin-top: 90px;
}

.credits .col-md-4  {
	vertical-align: text-top;
}

.credits h4 {
    border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

.credits h4.powered {
	margin-bottom: 10px;
}

.credits img {
	max-width: 200px;
	margin-bottom: 20px;
}

.credits .canarie img {
	max-width: 210px;
}

.credits .compute_canada img {
	max-width: 230px;		
}

.credits .bckdf img {
	max-width: 100px;
}

.credits a.agave {
	background-color: #04a5b7;
	display: inline-block;
	margin-left: 10px;
	padding-top: 20px;
}

.credits .agave img {
	max-width: 140px;
	margin-bottom: 5px;
}

.credits .irmacs img {
	max-width: 140px;	
}

.credits_container {
	margin-top: 100px;
}
/* @end */

/* @group login page */

.login_container {
	padding-top: 50px;
}

.login_container #landing_charts {
	margin-top: 20px;
}

.login-box .panel-body {
	padding-bottom: 0;
}

.login-box .submit {
	margin-top: 20px;
}

.login-box .forgot {
	font-style: italic;
	font-size: 14px;
}

.login_logo {
	margin-top: 1px;
}

.login_logo span {
	font-size: 36px;
	font-style: bold;
}

.login_logo img {
	display: inline-block;
	margin-top: -20px;
}

.login_main {
	margin-top: 30px;
}

.login_about_box {
	font-size:14px;
}

.login_fold_box {
	list-style-type: none;
	background-color: #f8f8f8;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 0px;
	padding-right: 0px;
	border-radius: 6px;
	border: 1px solid #e7e7e7;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 60px;
	margin-bottom: 60px;
}

.modal-dialog {
	width: 980px;
}

.change_password .forgot {
	font-style: italic;
	font-size: 14px;
	margin-left: 6px;
	position: relative;
	top: -1px;	
}

/* @end */

/* @group home page */

.home_container {
	padding-top: 20px;
}

.quick_search_link {
	margin-top: 55px;
}

.adv_search_link {
	margin-top: 45px;
}

/* @end */

/* @group samples page */

.sample_form {
	margin-top: 30px;
}

.sample_form h3 {
	margin-top: 6px;
}

.sample_list .label {
	font-size: 95%;
	font-weight: normal;
	font-style: normal;
}

.browse_sequences {
	margin-top: -20px;
	float: right;
}

a.unselect_all_samples, a.select_all_samples, a.unselect_all_samples:hover, a.select_all_samples:hover {
	text-decoration: none;
}


a.select_all_samples {
	display: none;
}

.table_info {
	font-size: 12px;
	margin-bottom: 5px;
	font-weight: bold;
}

.table_info a {
	font-weight: normal;
	font-style: normal;
}

/* @end */

/* @group sequences page */

.analysis_apps_tabpanel .tab-content {
	min-height: 200px;
}

.sequence_count {
	font-size: 12px;
}

a.download_sequences {
	margin-top: 17px;
	margin-right: 2px;
}

/* @group sequence column selector */

.sequence_column_selector .checkbox {
	margin-top: -2px;
}

#sequence_column_selector {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 14px;
}

form.sequence_column_selector {
	-webkit-column-count: 7; /* Chrome, Safari, Opera */
    -moz-column-count: 7; /* Firefox */
    column-count: 7;
	margin-bottom: 0;
}

#sequence_column_selector .panel {
	margin-bottom: 0;
}

#sequence_column_selector .panel-heading {
	padding: 5px 10px;
}

#sequence_column_selector .panel-heading button {
	margin-top: -3px;
}

#sequence_column_selector .panel-heading .panel-title {
	font-size: 14px;	
}

#sequence_column_selector .panel-body {
}

.analysis_apps_tabpanel .nav-tabs {
	margin-bottom: 15px;
}

/* @end */



/* @end */

/* @group jobs page */

.job_view_progress {
	margin-bottom: 80px;
}

.local-job-progress {
	width: 60px;
}

/* @end */

/* @group components */

/* @group rest service list */

.provenance {
	margin-top: -1px;
}

.provenance span {
	margin-left: 7px;
	margin-right: 7px;
}

.provenance span:first-child {
	margin-left: 2px;
}

.provenance span:last-child {
	margin-right: 3px;
}

#rest_service_list em {
	margin-left: 5px;
	color: gray;
}

#rest_service_list .rs_node {
	margin-bottom: 10px;
}

#rest_service_list .node_name {
	font-weight: bold;
	font-size: 20px;
}

#rest_service_list .lab_node {
	margin-top: 5px;
}

#rest_service_list .lab_name {
	font-weight: bold;
	margin-top: 10px;
}

#accordion .panel-heading a:after {
    font-family: 'Glyphicons Halflings';
    content: "\2212";
    float: right;
    color: gray;
}
#accordion .panel-heading a.collapsed:after {
    content: "\002b";
}

/* @end */

/* @group pie charts */

#summary_charts {
	
}

.chart {
	height: 180px;
	padding-left: 5px;
	padding-right: 5px;
}

.charts {
	/* max-width: 1100px; */
}
.chart text.highcharts-credits {
	display: none;
}

.chart_label {
	font-weight: bold;
}

.chart_label_nodata {
	font-style: italic;
	font-weight: normal;
}

/* @end */

/* @group no results message */

.no_results {
	margin-top: 20px;
}

.no_results h4 {
	font-size: 24px;
}

/* @end */

/* @group loading message */

.loading_contents {
	position: relative;
}

.loading_message {
	position: fixed;
	left: 332px;
	top: 154px;
	z-index: 500;
	background-color: white;
	border: 1px solid gray;
	padding: 50px 100px 35px;
	display: none;
}

.loading_message .cancel {
	margin-top: 20px;
}

.disabled {
	opacity: 0.5;
	filter:blur(1px);
	pointer-events: none;
	cursor: not-allowed;
}

/* @end */



/* @end */
